body {
  width: 600px;
  margin: auto;
  font-family: sans-serif;
}

#contact {
  background: #e3e3e3;
  padding: 1em 2em;
  position: relative;
}

.js #contact {
  position: absolute;
  top: 0;
  width: inherit;
  display: none;
}

#contact h2 {
  margin-top: 0;
}

#contact ul {
  padding: 0;
}

#contact li {
  list-style: none;
  margin-bottom: 1em;
}

/* Close button on form */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

/* Form inputs */
input,
textarea {
  width: 100%;
  line-height: 2em;
}

input[type=submit] {
  width: auto;
}

label {
  display: block;
  text-align: left;
}