body {
  width: 600px;
  margin: 100px auto 0;
}

* {
  margin: 0;
  padding: 0;
}

.slider {
  width: inherit;
  height: 300px;
  overflow: scroll;
}

.slider ul {
  width: 10000px;
  list-style: none;
}

.slider li {
  float: left;
}

#slider-nav {
  display: none;
  margin-top: 16px;
}

#slider-nav button {
  padding: 16px;
  margin-right: 16px;
  border-radius: 10px;
  cursor: pointer;
}