body {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

dl {}

dd {
  margin: 0px;
  padding: 16px 0px;
}

dt {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  background-color: #e3e3e3;
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #ffffff;
}

dt:first-child {
  border-top: none;
}

dt:nth-last-child(2) {
  border-bottom: none;
}

.hide {
  display: none;
}